<!DOCTYPE html>
<html>

  <head>
    <!-- <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet"> -->
    
   <!-- <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css"> -->
    <link rel="stylesheet" type="text/css" href="../../css/homepage.css">
    
  </head>

  <body>
      <div class = "header-container">
          <ol class = "header">
           <li class="header-item">
             <img src = "../../img/homepage/logo.PNG"></img>
             <a href="#/nemo/homepage"></a>
            </li>
            <li class="header-item">
              <div class="info">
                 Call us at 1300 557 073
              </div>
            </li>
            <li class="header-item" >
              <div class="nav-function">
              <div class= "welcome">
                <div class="user">Weclome RuoShi</div>
              </div>
                <div class="search">
                  <form name = "search" method ="get" action= "#/nemo/search">
                    <input class="search-inputtext" type="text" name="text" value maxlength="180"/>
                    <button class= "search-buuton" type="submit">Search</button>
                  </form>
                </div>
                <ol class="short-cuts">
                  <li class= "function-item">
                    Sign Out
                    <a href="#/nemo/logout"></a>
                  </li>
                  <li class= "function-item">Contact Lenovo
                    <a href="#/nemo/contact"></a>
                  </li>
                  <li class= "function-item">Sign up
                    <a href="#/nemo/register"></a>
                  </li>
                  <li class= "function-item">My Account
                    <a href="#/nemo/account"></a>
                  </li>
                  <li class= "function-item">Cart
                    <a href="#/nemo/cart"></a>
                  </li>
              </ol>
            </li>
          </ol>
          </div>
             <div class="nav">
              <ol class="product-list">
                <li class="list-context">
                  <div class="item">
                      <div class="nav-title">Laptops & Ultrabooks</div>
                       <a href = "#/c/Laptop"> </a>
                  </div>
                </li>
                 <li class="list-context">
                  <div class="item">
                      <div class="nav-title">Tablets</div>
                       <a href = "#/c/Tabets"></a>
                  </div>
                </li>
                <li class="list-context">
                  <div class="item">
                      <div class="nav-title">Tablets</div>
                       <a href = "#/c/Tabets"></a>
                  </div>
                </li>
                <li class="list-context">
                  <div class="item">
                      <div class="nav-title">Desktop & All-in-Ones</div>
                      <a href = "#/c/Desktop"></a>
                  </div>
                </li>
                <li class="list-context">
                  <div class="item">
                      <div class="nav-title">Accessories & Upgrades</div>
                      <a href = "#/c/Accessories"></a>
                  </div>
                </li>
              </ol>    
          </div>
          <div class = "breadrum">
            <div class= "bread-context">
              <div class="bread-title">AU Education store | Home</div>
            </div>
          </div>
    </div>
    <div class="main-context">
      <div class = "main-product">
        <ol class="product-context">
          <li ="product-item">
        <div class = "product-media">
          <img src="../../img/homepage/edu1.jpg"></img>
        </div>
      </li>
       <li ="product-item" id="product">
        <div = "product-text">
          <h2 class= "title">THE X1 CARBON LEGENDARY TOOLS</h2>
          <div class= "product-subtitle">DURABLE CARBON-FIBRE CONSTRUCTION STARTING AT $1,779.00</div>
          <div class="learn-more">
            <a href="#/nemo/en/p/22TPYTR455" ></a>
            <button>Learn more</button>  
          </div>
        </div>
      </li>
      </ol>
    </div>
      <div class="promotion">
            <ol class="list">
              <li>
                <div class="article">
                  <ol class="pro-container">
                    <li>
                      <div class="pro-body">
                      <div class="pro-title">
                       $1 Dock Offer
                      </div>
                      <div class="subtitle">On X1 Carbon Gen 3</div>
                      <div class="pro-context">
                        <p class="pro-text">
                        ThinkPad OneLink Pro Dock 
                        Valued at $217.01
                        X1 CARBON GEN 3 OFFER >
                        </p>
                      </div>
                      </div>
                     </li>
                    <li id="pro-img">
                    <img src="../../img/homepage/pro1.png"></img>
                    </li>
                </ol>
                </div>
              </li>
              <li>
                 <div class="article">
                  <ol class="pro-container">
                    <li>
                      <div class="pro-body">
                      <div class="pro-title">
                       Y40-80<br>STUDY HARD, PLAY HARD</br>
                      </div>
                     
                      <div class="pro-context">
                        <p class="pro-text">
                         SHOP NOW>
                        </p>
                      </div>
                      </div>
                     </li>
                    <li id="pro-img">
                    <img src="../../img/homepage/pro2.png"></img>
                    </li>
                </ol>
                </div>
              </li>
              <li>
                 <div class="article">
                  <ol class="pro-container">
                    <li>
                      <div class="pro-body">
                      <div class="pro-title">
                       FLEX 3 11"<br>MORE FLEX, FOR LESS</br>
                      </div>
                      <div class="pro-context">
                        <p class="pro-text">
                        SHOP NOW>
                        </p>
                      </div>
                      </div>
                     </li>
                    <li id="pro-img">
                    <img src="../../img/homepage/pro3.png"></img>
                    </li>
                </ol>
                </div>
              </li>
          </ol>
      </div>
            <div class = "main-product">
        <ol class="product-context">
          <li ="product-item">
        <div class = "product-media">
          <img src="../../img/homepage/edu2.png"></img>
        </div>
      </li>
       <li ="product-item" id="product">
        <div = "product-text">
          <h2 class= "title">YOGA 3 PRO</h2>
          <div class= "product-subtitle">FOUR WAYS TO DO ALMOST ANYTHING <br>
            STARTING AT <b>$1,999.00</b>
          </div>
          <div class="learn-more">
            <a href="#/nemo/en/p/22TPYTR455" ></a>
            <button>Learn more</button>  
          </div>
        </div>
      </li>
      </ol>
    </div>
     <div class = "main-product">
        <ol class="product-context">
          <li ="product-item">
        <div class = "product-media">
          <img src="../../img/homepage/edu3.jpg"></img>
        </div>
      </li>
       <li ="product-item" id="product">
        <div = "product-text">
          <h2 class= "title">E450</h2>
          <div class= "product-subtitle">GREAT 'BANG FOR YOUR BUCK' LAPTOP
            <br>
            <i style="font-size:16px;display:inline-block;height:22px;"></i>
          </br>
          STARTING AT
          <b>$521.55</b>
          </div>
          <div class="learn-more">
            <a href="#/nemo/en/p/22TPYTR455" ></a>
            <button>Learn more</button>  
          </div>
        </div>
      </li>
      </ol>
    </div>
    </div>

  </body>
</html>