<!DOCTYPE html>
<html>

  <head>
    <!-- <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet"> -->
    
   <!--   <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css"> -->
    <link rel="stylesheet" type="text/css" href="../../css/homepage.css">
    
  </head>

  <body>
    <div class = "header-container">
          <div class = "header">
           <div class="header-item">
             <img src = "../../img/homepage/logo.PNG"></img>
             <a href="#/nemo/homepage"></a>
            </div>
            <div class="header-item">
              <div class="info">
                 Call us at  1300 557 073
              </div>
            </div>
            <div class="header-item" >
              <div class="nav-function">
              <div class= "welcome">
                <div class="user">Weclome RuoShi</div>
              </div>
                <div class="search">
                  <form name = "search" method ="get" action= "#/nemo/search">
                    <input class="search-inputtext" type="text" name="text" value maxlength="180"/>
                    <button class= "search-buuton" type="submit">Search</button>
                  </form>
                </div>
                <div class="short-cuts">
                  <div class= "function-item">Sign Out
                    <a href="#/nemo/logout"></a>
                  </div>
                  <div class= "function-item">Contact Lenovo
                    <a href="#/nemo/contact"></a>
                  </div>
                  <div class= "function-item">Sign up
                    <a href="#/nemo/register"></a>
                  </div>
                  <div class= "function-item">My Account
                    <a href="#/nemo/account"></a>
                  </div>
                  <div class= "function-item">Cart
                    <a href="#/nemo/cart"></a>
                  </div>
              </div>
            </div>
          </div>
          </div>
          <div class="nav">
              <li class = "nav-item">Laptops & Ultrabooks</li>
              <li class = "nav-item">Tablets</li>
              <li class = "nav-item">Desktop & All-in-Ones</li>
              <li class = "nav-item">Accessories & Upgrades</li>           
          </div>
          <div class = "breadrum">
            <a href="#/nemo/home">AU Education store | Home></a>
          </div>
    </div>
    <div class = "main-container">
      <div class = "main-product">
        <div class = "product-media">
          <img src=""></img>
        </div>
        <div = "product-text">
          <h2 class= "title">THE X1 CARBON LEGENDARY TOOLS</h2>
          <div class= "subtitle">DURABLE CARBON-FIBRE CONSTRUCTION STARTING AT $1,779.00</div>
          <div class="learn-more">
            <a href="#/nemo/en/p/22TPYTR455">Learn</a>  
          </div>
        </div>
      </div>
      <div class = "promotion">
        <div class="article">
          <div class="pro-title">
          </div>
          <div class="pro-context">
          </div>
          <div class ="pro-media">
          </div>
        </div>
        <div class="article">
          <div class="pro-title">
          </div>
          <div class="pro-context">
          </div>
          <div class ="pro-media">
          </div>
        </div>
        <div class="article">
          <div class="pro-title">
          </div>
          <div class="pro-context">
          </div>
          <div class ="pro-media">
          </div>
        </div>
      </div>
      <div class = "main-product">
        <div class = "product-media">
          <img src=""></img>
        </div>
        <div = "product-text">
          <h2 class= "title">THE X1 CARBON LEGENDARY TOOLS</h2>
          <div class= "subtitle">DURABLE CARBON-FIBRE CONSTRUCTION STARTING AT $1,779.00</div>
          <div class="learn-more">
            <a href="#/nemo/en/p/22TPYTR455">Learn</a>  
          </div>
      </div>
      <div class = "main-product">
        <div class = "product-media">
          <img src=""></img>
        </div>
        <div = "product-text">
          <h2 class= "title">THE X1 CARBON LEGENDARY TOOLS</h2>
          <div class= "subtitle">DURABLE CARBON-FIBRE CONSTRUCTION STARTING AT $1,779.00</div>
          <div class="learn-more">
            <a href="#/nemo/en/p/22TPYTR455">Learn</a>  
          </div>
      </div>
    </div>
    <div class = "footer">
      <div class = "support">
      </div>
      <div class = "copyright">
      </div>
    </div>
  </body>
</html>