<!DOCTYPE html>
<html>

  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    
     <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="homepage.css">
    
  </head>

  <body>
    <div class = "header-container">
          <div class = "header">
            <ul class = "pull-left">
              <li><a href="#/nemo/homepage"><img src = "img/homepage/logo"></img></a></li>
              <li>Call us at  1300 557 073</li>
            </ul>
            <ul class = "pull-right">
              <ol class = "welcome-search">
                <li class = "wecolome" >Welcome Ruoshi</li>
                <li class = "search">
                  <form name = "search" method ="get" action= "#/nemo/search">
                    <input class="search-inputtext" type="text" name="text" value maxlength="180"/>
                    <button class= "search-buuton" type="submit">Search</button>
                  </form>
                </li>
                <li class="short-cuts">
                  <ol class = "function-container">
                    <li><a href="#/nemo/logout">Sign Out</li>
                    <li class= "contact">Contact Lenovo</li>
                    <li><a href="#/nemo/register">Email Sign-Up</li>
                    <li class="mini-cart"><a href="#/nemo/My Account">Cart</li>
                  </ol>
                </li>
              </ol>
            </ul>
          </div>
          <div class = "nav">
            <ul>
              <li class = "laptops">Laptops & Ultrabooks</li>
              <li class = "tablets">Tablets</li>
              <li class = "desktops">Desktop & All-in-Ones</li>
              <li class = "accessories">Accessories & Upgrades</li>
            </ul>              
          </div>
          <div class = "breadrum">
            <a href="#/nemo/home">AU Education store | Home></a>
          </div>
    </div>
    <div class = "main-container">
      <div class = "main-product">
        <div class = "product-media">
          <img src=""></img>
        </div>
        <div = "product-text">
          <h2 class= "title">THE X1 CARBON LEGENDARY TOOLS</h2>
          <div class= "subtitle">DURABLE CARBON-FIBRE CONSTRUCTION STARTING AT $1,779.00</div>
          <div class="learn-more">
            <a href="#/nemo/en/p/22TPYTR455">Learn</a>  
          </div>
        </div>
      </div>
      <div class = "promotion">
        <div class="article">
          <div class="pro-title">
          </div>
          <div class="pro-context">
          </div>
          <div class ="pro-media">
          </div>
        </div>
        <div class="article">
          <div class="pro-title">
          </div>
          <div class="pro-context">
          </div>
          <div class ="pro-media">
          </div>
        </div>
        <div class="article">
          <div class="pro-title">
          </div>
          <div class="pro-context">
          </div>
          <div class ="pro-media">
          </div>
        </div>
      </div>
      <div class = "main-product">
        <div class = "product-media">
          <img src=""></img>
        </div>
        <div = "product-text">
          <h2 class= "title">THE X1 CARBON LEGENDARY TOOLS</h2>
          <div class= "subtitle">DURABLE CARBON-FIBRE CONSTRUCTION STARTING AT $1,779.00</div>
          <div class="learn-more">
            <a href="#/nemo/en/p/22TPYTR455">Learn</a>  
          </div>
      </div>
      <div class = "main-product">
        <div class = "product-media">
          <img src=""></img>
        </div>
        <div = "product-text">
          <h2 class= "title">THE X1 CARBON LEGENDARY TOOLS</h2>
          <div class= "subtitle">DURABLE CARBON-FIBRE CONSTRUCTION STARTING AT $1,779.00</div>
          <div class="learn-more">
            <a href="#/nemo/en/p/22TPYTR455">Learn</a>  
          </div>
      </div>
    </div>
    <div class = "footer">
      <div class = "support">
      </div>
      <div class = "copyright">
      </div>
    </div>
  </body>
</html>